.Footer{
    width: 100%;
    background-color: #1f1e1e;
}
.inner-Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 2.865vw;
    margin-bottom: 2.865vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.footer-logo img{
    width: 7.259rem;
    height: 6.518rem;
}
.Footer .footer-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Address{
    font-size: 1rem;
    line-height: 1.555rem;
    color: #b2b2b2;
    margin-left: 2.865vw;
    margin-top: 1.614vw;
}
.footer-icon{
    margin-top: 3.385vw;
}
.Address-title div{
    font-weight: 600;
}
.Address-body{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #777777;
}
.social-media{
    margin-left: 1.604rem;
}
.social-media-contents{
    display: flex;
    flex-direction: column;
}
.footer-icon .social-media-contents .media-text{
    font-size: 1rem;
    line-height: 1.555rem;
    font-weight: 400;
    color: #777777;
}
.social-media img{
    padding-right: 0.5rem;
    width: 1.66rem;
    height: 1.66rem;
}


@media only screen and (max-width: 430px) {
    .footer-logo img{
        width: 4rem;
        height: 3.518rem;
    }
    .Address{
        font-size: 0.5rem;
        line-height: 0.8rem;
    }
    .Address-body{
        font-size: 0.4rem;
        line-height: 0.7rem;
    } 
    .social-media img{
        width: 0.8rem;
        height: 0.8rem;
    }
    .footer-icon .social-media-contents .media-text{
        font-size: 0.4rem;
        line-height: 0.7rem;
        font-weight: 400;
    }
    .social-media img{
        padding-right: 0.1rem;
    }
    .social-media{
        margin-left: 0.3rem;
    }
}