.Services{
    width: 100%;
    background-color: #feffff;
    font-family: 'Mukta Mahee';
    display: flex;
    flex-direction: column;
}
.inner-Services{
    margin-top: 2.208vw;
    margin-bottom: 2.208vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.Services .services-title{
    font-size: 1.148rem;
    line-height: 1.629rem;
    color: #b2b2b2;
    font-weight: 700;
}
.Services .services-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.services-body .services-item{
    display: flex;
    flex-direction: column;
}
.services-item-body{
    display: flex;
    flex-direction: row;
    margin-top: 3.438vw;
}
.services-item-body div img{
    margin-right: 1.823vw;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;
}
.services-details{
    display: flex;
    flex-direction: column;
}
.services-item-body .services-details .services-topic{
    font-size: 1.222rem;
    line-height: 5.444rem;
    font-weight: 700;
    color: #272727;
}
.services-item-body .services-details p{
    font-size: 1rem;
    line-height: 1.555rem;
    color: #272727;
    font-weight: 400;
}



@media only screen and (max-width: 430px) {
    .Services .services-title{
        font-size: 0.8rem;
        line-height: 2.629rem;
        font-weight: 700;
    }
    .services-item-body .services-details .services-topic{
        font-size: 0.8rem;
        line-height: 3.444rem;
        font-weight: 700;
    }
    .services-item-body .services-details p{
        font-size: 0.5rem;
        line-height: 0.8rem;
        font-weight: 400;
    }
    .services-item-body div img{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1rem;
    }
}